.whyItem {
    flex-wrap: wrap;
}

@media all and (max-width: 940px) {
    .whyItem {
        flex-wrap: wrap;

        svg {
            width: 30px;
            height: 30px;
            fill: black;
            // color: black;
        }
    }
}