@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Crimson;
}

.no_scroll {
  overflow: hidden;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

option:hover {
  background-color: brown !important;
}

.select:focus {
  outline: red !important;
}

.product_list {
  background: rgb(2, 0, 36);
  background: linear-gradient(221deg, rgba(2, 0, 36, 1) 6%, rgba(121, 56, 9, 1) 67%);
}



.product-desc {
  transform: translateY(400px);
  height: 0;
  margin: 0;
  opacity: 0;
}

.product-card:hover .product-desc {
  height: 100%;
  opacity: 1;
  transform: translateY(0%);
  width: 100%;
  color: white;
  padding: 60px 20px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.929));
}

.dark-overlay {
  height: 100%;
}