@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Crimson;
  /* width: 102%; */
}

@media all and (max-width: 490px) {
  body {
    width: 102%
  }
}

@media all and (max-width: 350px) {
  body {
    width: 110%
  }
}

.no_scroll {
  overflow: hidden;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

option:hover {
  background-color: brown !important;
}

.select:focus {
  outline: red !important;
}

.product_list {
  background: rgb(2, 0, 36);
}

.gradient {
  background: linear-gradient(171deg, rgba(0, 0, 0, 1) 12%, rgba(213, 86, 18, 1) 73%, rgba(252, 232, 70, 1) 100%);
}

.control-dots {
  background: #80828399;
  border-radius: 8px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 40% !important;
  left: 29%;
}

@media all and (min-width:1024px) {
  .product__hero_adap {
    display: flex;
  }
}

.mySelect {
  pointer-events: none;
}